/* ********************** */
/* **** Global reset **** */
/* ********************** */
:root {
  --c-bg: #181818;
  /* --c-wrap: #fff; */
  --c-item-bg: #1D1D1D;
  --c-border: #353535;
  --c-general: #333;
  --c-font: #f6f6f6;
  --c-sub: #eee;
  --c-blockq: #363636;
  --c-primary: #664EFF;

  --f-size-s: 12px;
  --f-size-m: 14px;
  --f-size-l: 16px;
  --f-size-xl: 18px;

  --round: 14px;
  --round-l: 16px;

  --duration: 0.3s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: 700;
  text-decoration: none;
}

button {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

blockquote {
  margin: 12px auto;
  padding: 10px 16px;
  font-weight: 400;
  border-radius: 7px;
  letter-spacing: 0.45px;
  background-color: var(--c-blockq);
}

input {
  color: var(--c-font);
  font-weight: 600;
  font-family: inherit;
  border: none;
  outline: none;
  background: none;
}

.search-tag {
  display: none !important;
}

.hidden {
  display: none !important;
}

.solar-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.solar-icon svg {
  width: 32px;
  height: 32px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* ********************** */
/*





*/
/* **************** */
/* **** Layout **** */
/* **************** */
body {
  color: var(--c-font);
  font-size: var(--f-size-m);
  line-height: 1.4;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  background-color: var(--c-bg);
  animation: fadeIn 1.5s forwards;
  opacity: 0;
}

.wrap {
  /* width: 920px; */
  /* margin: 96px auto; */
}

.section-container {
  width: 920px;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
/* **************** */
/*





*/
/* *************** */
/* **** Modal **** */
/* *************** */
.modal-wrap {
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding: 36px;
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 0;
  visibility: hidden;
  border-radius: var(--round-l);
  background-color: var(--c-item-bg);
  transform: translate(-50%, -50%);
  transition: all var(--duration);
  box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.005);
  z-index: 99;
}

.modal-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.25);
  transition: all var(--duration);
  z-index: 9;
}

.modal.active .modal-wrap {
  opacity: 1;
  visibility: visible;
  transition: all var(--duration);
}

.modal.active > div.modal-bg {
  opacity: 1;
  visibility: visible;
  transition: all var(--duration);
}

.modal-label-wrap {
  display: flex;
  align-items: center;
  gap: 12px;
}

.modal-label-wrap .solar-icon svg {
  width: 16px;
  height: 16px;
}

.modal-txt {
  font-size: var(--f-size-xl);
  font-weight: 700;
}

.block--icon {
  display: inline-block;
}
/* *************** */
/*





*/
/* **************** */
/* **** Header **** */
/* **************** */
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 36px;
  position: sticky;
  position: -webkit-sticky;
  top:0;
  background-color: var(--c-bg);
  z-index: 9;
}

.toolbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  padding: 18px 0;
  background-color: var(--c-bg);
  z-index: 9;
}

.toolbar .section-container {
  display: flex;
  align-items: center;
  gap: 12px;
}
/* **************** */
/*






*/
/* **************** */
/* **** Search **** */
/* **************** */
.search-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 8px 12px;
  border: 1px solid var(--c-border);
  border-radius: 7px;
  background-color: var(--c-item-bg);
  transition: border-color .4s ease;
}

.search-wrap:focus-within {
  border-color: var(--c-primary);
}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-icon svg {
  width: 16px;
  height: 16px;
}

.search-input {
  display: block;
  color: var(--c-font);
}
/* **************** */
/*





*/
/* **************** */
/* **** Stroke **** */
/* **************** */
.stroke-wrap {
  display: flex;
  align-items: center;
  border: 1px solid var(--c-general);
  border-radius: 8px;
  overflow: hidden;
}

.stroke-label {
  padding: 8px 18px;
  color: #eee;
  background-color: var(--c-general);
}

.stroke-input {
  width: 64px;
  color: var(--c-font);
  padding: 8px 18px;
  text-align: center;
  background-color: var(--c-item-bg);
}

.stroke-input::placeholder {
  color: var(--c-font);
}
/* **************** */
/*





*/
/* ************* */
/* **** Tab **** */
/* ************* */
.tab {
  width: fit-content;
  margin-left: auto;
  border: 1px solid var(--c-border);
  border-radius: 1000px;
  background-color: var(--c-item-bg);
  overflow: hidden;
}

.tab-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-wrap > div {
  padding: 8px 16px;
  transition: all var(--duration);
  cursor: pointer;
}

.tab--active {
  color: #eee;
  background-color: var(--c-primary);
}
/* ************* */
/*





*/
/* ******************** */
/* **** Top button **** */
/* ******************** */
.top-btn {
  width: 36px;
  height: 36px;
  display: none;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: fixed;
  bottom: 16px;
  right: 12px;
  border: 1px solid var(--c-border);
  border-radius: 50%;
  background-color: var(--c-item-bg);
  transition: all var(--duration);
  opacity: 0;
  z-index: 99;
}

.top-btn svg {
  width: 16px;
  height: 16px;
  transition: all var(--duration);
}

.top-btn:hover {
  /* border-color: var(--c-primary); */
  transform: scale(1.05);
}

.top-btn:hover svg {
  color: var(--c-primary);
}
/* ******************** */
